.business-screen {
  width: 100vw;
}
.business__list {
  padding: 120px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.business__list:first-of-type {
  padding-top: 20px;
}
.business__content {
  width: 1180px;
}
.business__text {
  width: 100%;
}
.business__title-sm {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.business__title {
  font-size: 36px;
  font-weight: 700;
  color: #b3b3b3;
  line-height: 130%;
  margin-bottom: 50px;
}
.business__title--black {
  color: black;
}
.business__description {
  color: #6b6b6b;
  font-size: 16px;
  border-left: 1px solid #6b6b6b;
  padding-left: 20px;
  word-break: keep-all;
  margin-bottom: 40px;
}
.business__list--it .business__description,
.business__list--es .business__description {
  width: 800px;
}
.business__img {
  width: 100%;
}
.business__list--as,
.business__list--es {
  width: 100vw;
  background-color: #f5f8fa;
}
.business__list--as .business__content,
.business__list--ic .business__content {
  width: 1180px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.business__content .business__column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.business__list--as img {
  position: relative;
  right: -80px;
  width: 90%;
}
.business__list--ic .business__column:nth-child(2) img {
  width: 75%;
}
.business__list--ic .business__column:last-child {
  grid-area: 2 / 1 / 3 / -1;
  margin-top: 30px;
  width: 100%;
}
.business__media {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  column-gap: 16px;
  row-gap: 12px;
}
.business__media video {
  grid-area: 1 / 1 / 3 / 2;
  width: 100%;
}
.business__media img {
  width: 100%;
  object-fit: cover;
}
.business-footer {
  margin-top: 0px;
}
.business__list--es {
  padding-bottom: 140px;
}
.solution-list__product img {
  width: 90%;
}
