header {
  display: grid;
  width: 100vw;
  height: 110px;
  grid-template-columns: auto 1180px auto;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(177, 177, 177, 0.2);
  z-index: 2;
  transition: all 0.5 ease-in-out;
}
.header-logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.header-logo img {
  height: 32px;
}
.header-nav {
  width: 1180px;
  display: flex;
  align-items: center;
}
.header--black .header-nav li {
  color: black;
}
.header-nav li {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.header-contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header--black .header-contact__text {
  color: black;
}
.header-contact__text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
  height: 40px;
  margin-right: 50px;
  color: white;
}

/*대문 헤더*/
.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 480px;
  width: 100vw;
  color: white;
  font-family: "Montserrat", "Noto Sans KR";
}
.header-title__image {
  position: absolute;
  height: 480px;
  width: 100vw;
  object-fit: cover;
  z-index: -2;
}
.header-title span {
  font-size: 44px;
  font-weight: 700;
  margin-top: 85px;
}
.header-title p {
  font-size: 18px;
  margin-top: 50px;
  font-weight: 400;
}
.header-title--black {
  color: black;
}
